<div id={{ .SectionTag }} class="section {{ .Class }}">
    <h2>{{ .SectionTitle }}</h2>
    {{ range (where .context.Site.RegularPages "Section" .SectionTag) }}
        <div class="item-summary">
            <div class="item-image">
                {{ if .Params.teaser }}
                    <img src="media/teasers/{{ .Params.teaser }}" alt={{ .Title}}/>
                {{ end }}
            </div>
            <div class="item-details">
                <div class="item-header">
                    <h3>{{ .Title }}</h3>
                    {{ partial "paper_info.html" .}}
                </div>
                <p>{{ .Params.Summary | markdownify }}</p>
                {{ if .Params.publishPage }}
                <p style="margin-top: -10px">
                    {{ partial "styled_link.html" (dict "url" .Permalink "text" "Read more >>" "title" .Title) }}
                </p>
                {{ end }}
                {{ partial "quick_links.html" .Params.links }}
            </div>
        </div>
    {{ end }}
</div>